<h1> Showing selected articles </h1>

<p>The title of the article is : <%= @article.title %> </p>
<p>The description of the article is : <%= @article.desription %> </p>
<p><%= link_to 'Edit the above article', edit_article_path(@article) %></p>
<%= link_to 'Back to Articles List', articles_path %>
